<footer class="page-footer font-small bg-dark pt-4">
  <div class="container text-center text-md-left text-light">
    <div class="row">
      <div class="col-md-4 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Ejob</h5>
        <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
          consectetur
          adipisicing elit.</p>

      </div>

      <hr class="clearfix w-100 d-md-none">

      <div class="col-md-2 mx-auto">

        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="{% url 'about' %}" class="text-light">About</a>
          </li>
          <li>
            <a href="{% url 'companies' %}" class="text-light">Companies</a>
          </li>
          <li>
            <a href="#!" class="text-light">Career</a>
          </li>
          <li>
            <a href="#!" class="text-light">Contact</a>
          </li>
        </ul>

      </div>

      <hr class="clearfix w-100 d-md-none">

      

      

    </div>

  </div>

  <hr>

</footer>
